{% extends "base.html" %}

{% block title %}Services - Rasha's Company{% endblock %}

{% block content %}
<section class="mb-5">
  <h2 class="text-primary">Our Services</h2>
  <p>Explore our wide range of services designed to cater to your beauty needs:</p>
  <ul class="list-group">
    <li class="list-group-item">
      <h5 class="mb-1">Our Lipsticks</h5>
      <p>Discover vibrant colors and luxurious textures that last all day.</p>
    </li>
    <li class="list-group-item">
      <h5 class="mb-1">Know the Ingredients</h5>
      <p>Transparency is key! Learn about the ingredients we use in our products.</p>
    </li>
    <li class="list-group-item">
      <h5 class="mb-1">Famous Brands</h5>
      <p>Shop from a selection of trusted and popular beauty brands.</p>
    </li>
  </ul>
</section>
{% endblock %}
